{% extends 'base.html' %}
{% block title %} Commercial Invoice {% endblock %}
{% block content  
        <h1>Morpheus Commercial Invoice</h1>
        <div class="form-group">
            <form id="login_form">
                <label>Email <br> <input type="email" name="email" id="email" class="form-control"></label><br><br>
                <label>Senha <br> <input type="password" name="password" id="password" class="form-control"></label><br><br>
                <input type="button" value="Entrar" id="login_button" onclick="login()" class="btn btn-primary">
            </form>
        </div>
        <p id="login_error" class="alert alert-danger">Email ou senha incorreto!</p>
{% endblock %}