{% extends "base.html" %}
    {% block head %}
        <script src="/js/adress.js"></script>
    {% endblock %}

    {% block content %}
        <div class="adress_div">
            <form id="adress_form">
                <h1><b>Cadastros</b></h1><br>
                    <fieldset id="adress_field"><legend>Endereço</legend>
        
                        <label for="client_id">Cliente:<input type="number" name="client_id" placeholder="1" id="client_id"></label>
                        <label for="adress">Endereço:</label> <input type="text" name="adress_name" id="adress" size="20" maxlength="255" placeholder="Ex: Grove Street"><br><br>
                        <input type="button" class="btn btn-info" value="Cadastrar" id="adress_button" onclick="send_adress()">
        
                    </fieldset>
            </form>
        </div>    
    {% endblock %}
