{% extends "base.html" %}
    {% block head %}
        <script src="/js/ci_item.js"></script>
    {% endblock %}

    {% block content %}
        <form id="">
            <h1><b>Cadastros</b></h1><br>
                <fieldset id="send_ci"><legend>Lista de Produtos</legend>
                    <select action="/material.html" name="measurement_id" id="measurement_id" method="GET">
                        <option value="#material_id"></option>
                    </select>

                    <label for="description">Descrição:</label> <input type="text" name="description_name" id="material_id" size="20" maxlength="255" placeholder="Ex: Metal fino"><br><br>
                    <input type="button" class="btn btn-info" value="Cadastrar" id="material_button" onclick="send_ci()">

                    <a href="#modal" class="btn orange modal-trigger">Material</a>
                    <div class="modal" id='modal'>
                    
                    </div>
                </fieldset>
        </form>
    
    {% endblock %}
