{% extends "base.html" %}
    {% block head %}
        <script src="/js/material.js"></script>
    {% endblock %}

    {% block content %}
        <div class="material_div">
            <form id="material_form">
                <h1><b>Cadastros</b></h1><br>
                    <fieldset id="material_field"><legend>Material</legend>
        
                        <label for="name">Material:</label> <input type="text" name="material_name" id="name" size="20" maxlength="255" placeholder="Ex: Brass Scrap, etc."><br><br>
                        <label for="ncm">NCM:</label> <input type="text" name="ncm_name" id="ncm" size="20" maxlength="10" placeholder="Ex: 74040000"><br><br>
                        <label for="description">Descrição:</label> <input type="text" name="description_name" id="description" size="20" maxlength="255" placeholder="Ex: Metal fino"><br><br>
                        <input type="button" class="btn btn-info" value="Cadastrar" id="material_button" onclick="send_material()">
        
                    </fieldset>
            </form>
        </div>
    {% endblock %}
