{% extends "base.html" %}
    {% block head %}
        <script src="/js/measurement.js"></script>
    {% endblock %}

    {% block content %}
        <div class="measurement_div">
            <form id="measurement_form">
                <h1><b>Cadastros</b></h1><br>
                    <fieldset id="measurement_field"><legend>Embalagem</legend>
        
                        <label for="name">Embalagem:</label> <input type="text" name="measurement_name" id="name" size="20" maxlength="255" placeholder="Ex: Brass Scrap, etc."><br><br>
                        <label for="description">Descrição:</label> <input type="text" name="description" id="description" size="20" maxlength="255" placeholder="Ex: Metal fino"><br><br>
                        <input type="button" class="btn btn-info" value="Cadastrar" id="material_button" onclick="send_measurement()">
        
                    </fieldset>
            </form>
        </div>
    {% endblock %}